<footer>
    <div class="first_footer">
        <div class="first_footer_1">
            <a href="#" title="Careers">Careers</a>
            <a href="#" title="Executives">Executives</a>
            <a href="#" title="Impact Report">Impact Report</a>
            <a href="#" title="Our Commitments">Our Commitments</a>
            <a href="#" title="Patrners With Us">Patrners With Us</a>
        </div>
        <div class="first_footer_2">
            <h2>Join The Conversation</h2>
            <div class="first_footer_icon">
                <a href="#" target="_blank"><img src="/static/facebook.svg" alt="Facebook" title="Facebook"></a>
                <a href="#" target="_blank"><img src="/static/instagram.svg" alt="Instagram" title="Instagram"></a>
                <a href="#" target="_blank"><img src="/static/twitter.svg" alt="Twitter" title="Twitter"></a>
                <a href="#" target="_blank"><img src="/static/linkedin.svg" alt="LinkedIn" title="LinkedIn"></a>
                <a href="#" target="_blank"><img src="/static/threads.svg" alt="Threads" title="Threads"></a>
                <a href="#" target="_blank"><img src="/static/youtube.svg" alt="Youtube" title="Youtube"></a>
            </div>
        </div>
    </div>
    <div class="second_footer">
        <div class="second_footer_1">
            <div class="second_footer_1_group">
                <div class="second_footer_1_heading">Browse</div>
                <ul>
                    <li><a href="#">GX consoles</a></li>
                    <li><a href="#">GX games</a></li>
                    <li><a href="#">GX Game Pass</a></li>
                    <li><a href="#">GX accessories</a></li>
                </ul>
            </div>
            <div class="second_footer_1_group">
                <div class="second_footer_1_heading">Resources</div>
                <ul>
                    <li><a href="#">GX Support</a></li>
                    <li><a href="#">Feedback</a></li>
                    <li><a href="#">Community Standards</a></li>
                    <li><a href="#">Photosensitive Seizure Warning</a></li>
                </ul>
            </div><div class="second_footer_1_group">
                <div class="second_footer_1_heading">For Developers</div>
                <ul>
                    <li><a href="#">Games</a></li>
                    <li><a href="#">ID@GX</a></li>
                    <li><a href="#">Accessibility</a></li>
                    <li><a href="#">Creators Program</a></li>
                </ul>
            </div>
        </div>
        <div class="second_footer_2">
            <a href="#">
                <img src="/static/5309fe6da8594cc0b790de80852fd5d1.png">
            </a>
        </div>
    </div>
    <div class="third_footer">
        <a href="#" title="Careers">Privacy & Cookies</a>
        <a href="#" title="Executives">Terms of use</a>
        <a href="#" title="Impact Report"> Third Party Notices</a>
        <a href="#" title="Our Commitments">User Agreement</a>
        <a href="#" title="Our Commitments">Security</a>
        <a href="#" title="Patrners With Us"><img src="/static/copyright-regular.svg"  alt="Copyrights">GameXplore2023</a>
    </div>
</footer>
<script src="https://unpkg.com/scrollreveal"></script>
<script src="/veiws/main.js"></script>
</body>
</html>