<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/veiws/nav.css" />
    <link rel="icon" type="image/png" href="/static/logo.png" />
    <link rel="stylesheet" href="/veiws/friend.css" />
    <script src="socket.io/socket.io.js"></script>
    <script src="/veiws/friend.js"></script>
    <title>GameXplore | Friend</title>
  </head>
  <body>
    <%- include("partials/nav"); -%>
    <div class="searchbar">
      <form method="post" action="/friend" id="search">
        <input
          type="search"
          placeholder="Search friend here...  "
          name="friendName"
          autocomplete="off"
        />
      </form>
    </div>
    <div class="container">
      <div class="friendbox">
        <div class="friend">
          <div class="friendPic">
            <img src="/static/Gavt3.jpg" />
          </div>
          <div class="friendName">Anamika3071</div>
          <button>Chat with here</button>
        </div>
      </div>
      <div class="chatbox">
        <div class="chatTop">
          <div class="friendPic">
            <img src="/static/Gavt3.jpg" />
          </div>
          <div class="friendName" style="color: #6683ae">Anamika3071</div>
        </div>
        <div id="messages">
          <div class="message messageRight">
            <!-- <p>user</p> -->
            Hii👋, where are you from?
          </div>
          <div class="message messageLeft">
            <!-- <p>Manoj</p> -->
            I'm from Bhopal, you?
          </div>
          <div class="message messageRight">
            <!-- <p>user</p> -->
            Udaipur
          </div>
          <div class="message messageLeft">
            <!-- <p>Manoj</p> -->
            Are you play which game
          </div>
        </div>
        <div id="form">
          <form id="formMain" action="#">
            <input
              id="inputmessage"
              type="text"
              autocomplete="off"
              autofocus
              placeholder="type message here.."
              name="friendMessage"
            />
            <button id="sendBtn" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <!-- http://localhost:5000/friend -->
  </body>
</html>
