<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameXplore | Register</title>
    <link rel="stylesheet" href="/veiws/register.css">
</head>
<body>
<div>
    <video autoplay muted loop id="myVideo">
        <source src="/static/video_games_-_89894 (Original).mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="both">
        <div class="container" id="container">
            <div class="content">
                <form action="" method="post" id="ppop">
                    <div class="img">
                        <a href="/home"><img src="/static/5309fe6da8594cc0b790de80852fd5d1.png"></a>
                    </div>
                    <h2>Create your <span>GX</span> Account</h2>
                    <h3>Follow a few steps to wrap up Your <span>GX</span> Account(It's quick,we promise)</h3>
                    <div class="iconlogin">
                        <a href="https://accounts.google.com/v3/signin/identifier?dsh=S1192002006%3A1689331763066270&ifkv=AeDOFXi7BWdJcRGSIt-fVx0KnEjQYVPF6ok4izkMb1lvfXz4enDY-whH9jA8naay0X5-se3IQwwv&flowName=GlifWebSignIn&flowEntry=ServiceLogin" target="_blank"><img src="/static/google.jpeg" title="Google" href="#"></a>
                        <a href="https://store.steampowered.com/login/?steamtv" target="_blank"><img src="/static/steam.jpeg" title="Steam" href="#"></a>
                        <a target="_blank" href="https://my.account.sony.com/central/signin/?duid=0000000700090100f6e825092a29be8c874827ac4526405bceabd308e3abbd83e0a036baf263e8c6&response_type=code&client_id=e4a62faf-4b87-4fea-8565-caaabb3ac918&scope=web%3Acore&access_type=offline&state=744839d03a715288757435fc282136e8c8fe558bdad562c7c59a8c0298295f27&service_entity=urn%3Aservice-entity%3Apsn&ui=pr&smcid=web%3Apdc&redirect_uri=https%3A%2F%2Fweb.np.playstation.com%2Fapi%2Fsession%2Fv1%2Fsession%3Fredirect_uri%3Dhttps%253A%252F%252Fio.playstation.com%252Fcentral%252Fauth%252Flogin%253Flocale%253Den_IN%2526postSignInURL%253Dhttps%25253A%25252F%25252Fwww.playstation.com%25252Fen-in%25252Fplaystation-network%25252F%2526cancelURL%253Dhttps%25253A%25252F%25252Fwww.playstation.com%25252Fen-in%25252Fplaystation-network%25252F%26x-psn-app-ver%3D%2540sie-ppr-web-session%252Fsession%252Fv5.30.0&auth_ver=v3&error=login_required&error_code=4165&error_description=User+is+not+authenticated&no_captcha=false&cid=4eb08233-0eca-4c02-9935-d77d83fe7976#/signin/ca?entry=ca"><img src="/static/ps.jpeg" title="PlatStation" href="#"></a>
                        <a target="_blank" href="https://signup.live.com/signup?wa=wsignin1.0&rpsnv=13&rver=7.3.6963.0&wp=MBI_SSL&wreply=https:%2f%2faccount.xbox.com%2fen-in%2faccountcreation%3frtc%3d1%26csrf%3diRRDbBsXHWOzqJoxX9GqJOfUcAQCvJVJSNVhpu9YR0ntJtPfRjwCMjSg4qE1UQC4yx6KIvX4cVItbVhM5kW-6bAyA7o1&id=292543&aadredir=1&contextid=8369C2F0524F361B&bk=1602012918&uiflavor=web&lic=1&mkt=en-in&lc=1033&uaid=3ba71ae4427e4c300da204fc26106240"><img src="/static/xbox.jpeg" title="Xbox" href="#"></a>
                        <a target="_blank" href="https://www.facebook.com/"><img src="/static/fb.jpeg" title="Facebook" href="#"></a>
                    </div>
                    <div class="linef">
                        <div class="line"></div>
                        <div style="margin: 10px 5px 0px 5px;color: #fff;">or</div>
                        <div class="line"></div>
                    </div> 
                    <div style="height: 10px;"></div>
                </form>
                <form class="personalRegister" action="/register" method="post">
                    <label class="otklabel" for="clientreg_country-selctrl">Country/Region</label>
                    <div class="otkform-group-field">
                        <span class="otkselect">
                            <select id="clientreg_country-selctrl" name="country" required>
                            <option value="0">Country/Region</option>
                                <option value="AF"> Afghanistan</option>
                                <option value="AX"> Aland Islands</option>
                                <option value="AL"> Albania</option>
                                <option value="DZ"> Algeria</option>
                                <option value="AS"> American Samoa</option>
                                <option value="AD"> Andorra</option>
                                <option value="AO"> Angola</option>
                                <option value="AI"> Anguilla</option>
                                <option value="AQ"> Antarctica</option>
                                <option value="AG"> Antigua and Barbuda</option>
                                <option value="AR"> Argentina</option>
                                <option value="AM"> Armenia</option>
                                <option value="AW"> Aruba</option>
                                <option value="AU"> Australia</option>
                                <option value="AT"> Austria</option>
                                <option value="AZ"> Azerbaijan</option>
                                <option value="BS"> Bahamas</option>
                                <option value="BH"> Bahrain</option>
                                <option value="BD"> Bangladesh</option>
                                <option value="BB"> Barbados</option>
                                <option value="BY"> Belarus</option>
                                <option value="BE"> Belgium</option>
                                <option value="BZ"> Belize</option>
                                <option value="BJ"> Benin</option>
                                <option value="BM"> Bermuda</option>
                                <option value="BT"> Bhutan</option>
                                <option value="BO"> Bolivia</option>
                                <option value="BA"> Bosnia and Herzegovina</option>
                                <option value="BW"> Botswana</option>
                                <option value="BV"> Bouvet Island</option>
                                <option value="BR"> Brazil</option>
                                <option value="IO"> British Indian Ocean Territory (Chagos Archipelago)</option>
                                <option value="VG"> British Virgin Islands</option>
                                <option value="BN"> Brunei</option>
                                <option value="BG"> Bulgaria</option>
                                <option value="BF"> Burkina Faso</option>
                                <option value="BI"> Burundi</option>
                                <option value="KH"> Cambodia</option>
                                <option value="CM"> Cameroon</option>
                                <option value="CA"> Canada</option>
                                <option value="CV"> Cape Verde</option>
                                <option value="KY"> Cayman Islands</option>
                                <option value="CF"> Central African Republic</option>
                                <option value="TD"> Chad</option>
                                <option value="CL"> Chile</option>
                                <option value="CN"> China</option>
                                <option value="CX"> Christmas Island</option>
                                <option value="CC"> Cocos Islands</option>
                                <option value="CO"> Colombia</option>
                                <option value="KM"> Comoros</option>
                                <option value="CG"> Congo</option>
                                <option value="CK"    > Cook Islands</option>
                                <option value="CR"    > Costa Rica</option>
                                <option value="HR"    > Croatia</option>
                                <option value="CY"    > Cyprus</option>
                                <option value="CZ"    > Czech Republic</option>
                                <option value="CD"    > Democratic Republic of Congo</option>
                                <option value="DK"    > Denmark</option>
                                <option value="DJ"    > Djibouti</option>
                                <option value="DM"    > Dominica</option>
                                <option value="DO"    > Dominican Republic</option>
                                <option value="TL"    > East Timor</option>
                                <option value="EC"    > Ecuador</option>
                                <option value="EG"    > Egypt</option>
                                <option value="SV"    > El Salvador</option>
                                <option value="GQ"    > Equatorial Guinea</option>
                                <option value="ER"    > Eritrea</option>
                                <option value="EE"    > Estonia</option>
                                <option value="ET"    > Ethiopia</option>
                                <option value="FK"    > Falkland Islands (Malvinas)</option>
                                <option value="FJ"    > Fiji</option>
                                <option value="FI"    > Finland</option>
                                <option value="FR"    > France</option>
                                <option value="GF"    > French Guiana</option>
                                <option value="PF"    > French Polynesia</option>
                                <option value="TF"    > French Southern Territories</option>
                                <option value="GA"    > Gabon</option>
                                <option value="GM"    > Gambia</option>
                                <option value="GE"    > Georgia</option>
                                <option value="DE"    > Germany</option>
                                <option value="GH"    > Ghana</option>
                                <option value="GI"    > Gibraltar</option>
                                <option value="GR"    > Greece</option>
                                <option value="GL"    > Greenland</option>
                                <option value="GD"    > Grenada</option>
                                <option value="GP"    > Guadeloupe</option>
                                <option value="GU"    > Guam</option>
                                <option value="GT"    > Guatemala</option>
                                <option value="GG"    > Guernsey</option>
                                <option value="GN"    > Guinea</option>
                                <option value="GW"    > Guinea-Bissau</option>
                                <option value="HT"    > Haiti</option>
                                <option value="HM"    > Heard and McDonald Islands</option>
                                <option value="HN"    > Honduras</option>
                                <option value="HK"    > Hong Kong</option>
                                <option value="HU"   > Hungary</option>
                                <option value="IS"    > Iceland</option>
                                <option value="IN"> India</option>
                                <option value="ID"> Indonesia</option>
                                <option value="IQ"    > Iraq</option>
                                <option value="IE"    > Ireland</option>
                                <option value="IM"    > Isle of Man</option>
                                <option value="IL"    > Israel</option>
                                <option value="IT"    > Italy</option>
                                <option value="JM"    > Jamaica</option>
                                <option value="JP"    > Japan</option>
                                <option value="JE"    > Jersey</option>
                                <option value="JO"    > Jordan</option>
                                <option value="KZ"    > Kazakhstan</option>
                                <option value="KE"    > Kenya</option>
                                <option value="KI"    > Kiribati</option>
                                <option value="XK"    > Kosovo</option>
                                <option value="KW"    > Kuwait</option>
                                <option value="KG"    > Kyrgyz Republic</option>
                                <option value="LA"    > Lao People&#39;s Democratic Republic</option>
                                <option value="LV"    > Latvia</option>
                                <option value="LB"    > Lebanon</option>
                                <option value="LS"   > Lesotho</option>
                                <option value="LR"    > Liberia</option>
                                <option value="LI"    > Liechtenstein</option>
                                <option value="LT"    > Lithuania</option>
                                <option value="LU"    > Luxembourg</option>
                                <option value="MO"    > Macau</option>
                                <option value="MG"    > Madagascar</option>
                                <option value="MW"    > Malawi</option>
                                <option value="MY"    > Malaysia</option>
                                <option value="MV"    > Maldives</option>
                                <option value="ML"    > Mali</option>
                                <option value="MT"    > Malta</option>
                                <option value="MH"    > Marshall Islands</option>
                                <option value="MQ"    > Martinique</option>
                                <option value="MR"    > Mauritania</option>
                                <option value="MU"    > Mauritius</option>
                                <option value="YT"    > Mayotte</option>
                                <option value="MX"    > Mexico</option>
                                <option value="FM"    > Micronesia</option>
                                <option value="MD"    > Moldova</option>
                                <option value="MC"    > Monaco</option>
                                <option value="MN"    > Mongolia</option>
                                <option value="ME"    > Montenegro</option>
                                <option value="MS"    > Montserrat</option>
                                <option value="MA"    > Morocco</option>
                                <option value="MZ"    > Mozambique</option>
                                <option value="MM"    > Myanmar</option>
                                <option value="NA"    > Namibia</option>
                                <option value="NR"    > Nauru</option>
                                <option value="NP"    > Nepal</option>
                                <option value="NL"    > Netherlands</option>
                                <option value="AN"    > Netherlands Antilles</option>
                                <option value="NC"    > New Caledonia</option>
                                <option value="NZ"    > New Zealand</option>
                                <option value="NI"    > Nicaragua</option>
                                <option value="NE"    > Niger</option>
                                <option value="NG"    > Nigeria</option>
                                <option value="NU"    > Niue</option>
                                <option value="NF"    > Norfolk Island</option>
                                <option value="MP"    > Northern Mariana Islands</option>
                                <option value="MK"    > North Macedonia</option>
                                <option value="NO"    > Norway</option>
                                <option value="OM"    > Oman</option>
                                <option value="PK"    > Pakistan</option>
                                <option value="PW"    > Palau</option>
                                <option value="PS"    > Palestinian Territory</option>
                                <option value="PA"    > Panama</option>
                                <option value="PG"    > Papua New Guinea</option>
                                <option value="PY"    > Paraguay</option>
                                <option value="PE"    > Peru</option>
                                <option value="PH"    > Philippines</option>
                                <option value="PN"    > Pitcairn Island</option>
                                <option value="PL"    > Poland</option>
                                <option value="PT"    > Portugal</option>
                                <option value="PR"    > Puerto Rico</option>
                                <option value="QA"    > Qatar</option>
                                <option value="GY"    > Republic of Guyana</option>
                                <option value="RE"    > Reunion</option>
                                <option value="RO"    > Romania</option>
                                <option value="RU"    > Russian Federation</option>
                                <option value="RW"    > Rwanda</option>
                                <option value="MF"    > Saint Martin</option>
                                <option value="WS"    > Samoa</option>
                                <option value="SM"    > San Marino</option>
                                <option value="ST"    > Sao Tome and Principe</option>
                                <option value="SA"    > Saudi Arabia</option>
                                <option value="SN"    > Senegal</option>
                                <option value="RS"    > Serbia</option>
                                <option value="SC"    > Seychelles</option>
                                <option value="SL"    > Sierra Leone</option>
                                <option value="SG"    > Singapore</option>
                                <option value="SK"    > Slovakia (Slovak Republic)</option>
                                <option value="SI"    > Slovenia</option>
                                <option value="SB"    > Solomon Islands</option>
                                <option value="SO"    > Somalia</option>
                                <option value="ZA"    > South Africa</option>
                                <option value="GS"    > South Georgia and the South Sandwich Islands</option>
                                <option value="KR"    > South Korea</option>
                                <option value="ES"    > Spain</option>
                                <option value="LK"    > Sri Lanka</option>
                                <option value="SH"    > St. Helena</option>
                                <option value="KN"    > St. Kitts and Nevis</option>
                                <option value="LC"    > St. Lucia</option>
                                <option value="PM"    > St. Pierre and Miquelon</option>
                                <option value="VC"    > St. Vincent and the Grenadines</option>
                                <option value="LY"    > State of Libya</option>
                                <option value="SR"    > Suriname</option>
                                <option value="SJ"    > Svalbard &amp;amp; Jan Mayen Islands</option>
                                <option value="SZ"    > Swaziland</option>
                                <option value="SE"    > Sweden</option>
                                <option value="CH"    > Switzerland</option>
                                <option value="TW"    > Taiwan</option>
                                <option value="TJ"    > Tajikistan</option>
                                <option value="TZ"    > Tanzania</option>
                                <option value="TH"    > Thailand</option>
                                <option value="TG"    > Togo</option>
                                <option value="TK"    > Tokelau</option>
                                <option value="TO"    > Tonga</option>
                                <option value="TT"    > Trinidad and Tobago</option>
                                <option value="TN"    > Tunisia</option>
                                <option value="TR"    > Türkiye</option>
                                <option value="TM"    > Turkmenistan</option>
                                <option value="TC"    > Turks and Caicos Islands</option>
                                <option value="TV"    > Tuvalu</option>
                                <option value="UG"    > Uganda</option>
                                <option value="UA"   > Ukraine</option>
                                <option value="AE"    > United Arab Emirates</option>
                                <option value="GB"    > United Kingdom</option>
                                <option value="UM"    > United States Minor Outlying Islands</option>
                                <option value="US"    > United States of America</option>
                                <option value="UY"    > Uruguay</option>
                                <option value="VI"    > US Virgin Islands</option>
                                <option value="UZ"    > Uzbekistan</option>
                                <option value="VU"    > Vanuatu</option>
                                <option value="VA"    > Vatican City</option>
                                <option value="VE"    > Venezuela</option>
                                <option value="VN"> Vietnam</option>
                                <option value="WF"> Wallis and Futuna Islands</option>
                                <option value="EH"> Western Sahara</option>
                                <option value="YE"> Yemen</option>
                                <option value="ZM"> Zambia</option>
                                <option value="ZW"> Zimbabwe</option>
                            </select>   
                        </span>
                    </div>                
                    <!-- <a href="/veiws/register2.html"> -->
                    <button type="submit" class="btn lobtn next">NEXT</button>
                    <!-- </a> -->
                    <div class="login-register">
                        <p>Already have an account?
                            <a href="/login" class="register-link">Login</a>
                        </p>
                    </div>
                </form> 
            </div>
        </div>

        <!--          Second page -->
        <!-- <div class="secondPage" id="secondPage">
            <button class="back"> back </button>
            <div class="content">
                <a href="/main.html"><img src="/static/5309fe6da8594cc0b790de80852fd5d1.png"></a>
                <h2>Create your <span>GX</span> Account</h2>
                <form method="post" action="">
                    <label for="mail" class="mainlabel"> Email </label><br>
                    <input class="maininput" type="email" id="mail" name="email" required><br>
                    <div class="gxid">
                        <label for="id" class="mainlabel"> GX Id </label><br>
                        <input class="maininput" type="text" id="id" name="gxid" required><br>
                        <p>This is how your friends can find you in the app or in GX Games.Your GX ID must be 8-16 characters</p>
                    </div>
                    <div class="form_item">
                        <label for="pass" class="mainlabel">Password</label><br>
                        <div class="divvv">
                            <input oninput="textChange()" onclick="closeNav()" class="maininput" id="password" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" data-lpignore="true" type="password" name="password" required>
                            <button type="button" id="eyeball">
                                <div class="eye"></div>
                            </button>
                            <div id="beam"></div>
                        </div>
                    </div>
                    <div class="validator" id="validator">
                        <p id="capital">
                            <i class="fas fa-times"></i>
                            <i class="fas fa-check"></i>
                            <span>Upper Case</span>
                        </p>
                        <p id="special-char">
                            <i class="fas fa-times"></i>
                            <i class="fas fa-check"></i>
                            <span>Special Character</span>
                        </p>
                        <p id="number">
                            <i class="fas fa-times"></i>
                            <i class="fas fa-check"></i>
                            <span>Number</span>
                        </p>
                        <p id="more-than-8">
                            <i class="fas fa-times"></i>
                            <i class="fas fa-check"></i>
                            <span>More than 8 characters</span>
                        </p>
                    </div>
                    <button type="submit" class="btn lobtn" onclick="myFunction()">Create Account</button>
                </form>
            </div>
        </div>-->
    </div>
    <div id="snackbar">Create Account Succesfully..</div>
    <script src='https://kit.fontawesome.com/1c2c2462bf.js'></script>
    <script src="veiws/register.js"></script>
</body>
</html>