<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameXplore</title>
    <link rel="stylesheet" href="/veiws/userAlready.css">
</head>
<body>
    <div class="maincon">
    <div class="container">
        <div class="heading">You're already registered!</div>
        <hr>
        <div class="img">
            <img src="/static/userverifed.png">
        </div>
        <div class="heading2">Your GX account has already been created using:</div>
        <div class="email"></div>
        <div class="deldiv">
            <button class="delbtn">
                <a href="/login">Login to GX</a>
            </button>
        </div>
    </div>
</div>
</body>
</html>