* {
  margin: 0;
  padding: 0;
}
body {
  background-color: cornsilk;
  background-size: cover;
  object-fit: cover;
}

.Container {
  margin-top: 50px;
  margin-left: 50px;
}
.name {
  text-align: center;
  font-size: 55px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 50px;
}

.basicsection {
  display: flex;
  gap: 100px;
}
.rating {
  font-size: 25px;
  font-weight: 500;
}

.img-section img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}
.Discrip {
  margin-top: 10px;
}
.dold {
  margin-top: 55px;
  color: #162938;
  font-size: 32px;
  width: 220px;
  cursor: pointer;
  padding: 8px 20px;
  margin-left: 38px;
  border-radius: 20px;
  box-shadow: 0 0 1rem #162938;
  animation: iconoffer 2s ease-in-out infinite;
  outline: none;
  z-index: 0;
}
@keyframes iconoffer {
  0% {
    transform: rotateX(0deg);
  }
  25% {
    transform: rotateX(30deg);
  }
  50% {
    transform: rotateX(0deg);
  }
  75% {
    transform: rotateX(-30deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.dold::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  border-radius: 60px;
}
.dold:active {
  color: #000;
}

.dold:active:after {
  background: transparent;
}

.dold:hover:before {
  opacity: 1;
}

.dold:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #111; */
  left: 0;
  top: 0;
  border-radius: 60px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.allSimilar {
  padding: 3px;
  font-size: 18px;
}

.Themesection {
  padding-left: 50px;
  display: flex;
}
.div {
  margin-left: 50px;
  display: flex;
  padding: 10px;
}
.div a {
  margin-left: 20px;
}
.div button {
  padding: 2px 5px;
  border-radius: 10px;
  cursor: pointer;
}
.downbox {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  padding: 5px 8px;
}
.allDownlink {
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* padding: 2px 5px; */
}
/* .downbox button {
  padding: 3px 6px;
  cursor: pointer;
  font-size: 15px;
} */
.allcompany {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5px;
}
.com {
  padding: 5px;
}
.company,
.similargame {
  margin-top: 15px;
}
.Themesection {
  margin: 15px;
}
.allSimilar button {
  background: none;
  border: none;
  cursor: pointer;
}
.allSimilar button:hover,
.downbox a:hover,
.div a:hover {
  color: rgb(190, 91, 91);
}

.buttonDownload {
  display: inline-block;
  position: relative;
  padding: 10px 25px;

  background-color: #4cc713;
  color: white;

  font-family: sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  text-indent: 15px;
}

.buttonDownload:hover {
  background-color: #333;
  color: white;
}

.buttonDownload:before,
.buttonDownload:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
  width: 10px;
  height: 2px;
  border-style: solid;
  border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
  width: 0;
  height: 0;
  margin-left: 3px;
  margin-top: -7px;

  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: transparent;
  border-top-color: inherit;

  animation: downloadArrow 2s linear infinite;
  animation-play-state: paused;
}

.buttonDownload:hover:before {
  border-color: #4cc713;
}

.buttonDownload:hover:after {
  border-top-color: #4cc713;
  animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
  /* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}

.jumbotron {
  color: #2c3e50;
  background-color: #ecf0f1;
  border: 1px solid #d6dbdf;
  margin-top: 10px;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}
