
.first_footer{
    background: #eaeaea;
    display: flex;
    justify-content: space-around;
}
.first_footer_1 a{
    padding: 15px 10px;
    text-decoration: none;
    font-size: 1.4em;
    color: #131313;
}
.first_footer_1{
    margin-top: 15px;
}
.first_footer_2{
    margin-top: 15px;
}
.first_footer_icon img{
    height: 25px;
    width: 25px;
    padding: 5px 10px;
}
.second_footer{
    background: #F3F3F3;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.second_footer_1{
    display: flex;
    padding: 15px;
    justify-content:space-between;
}
.second_footer_2 img{
    border-radius: 50%;
    height: 80px;
    margin-top: 20px;
    cursor: pointer;
}
.second_footer_1_heading{
    font-size: 1.4rem;
}
.second_footer_1_group ul{
    list-style: none;
    margin: 5px 15px;
}
.second_footer_1_group ul a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #131313;
}
.third_footer{
    background: #eaeaea;
    display: flex;
}
.third_footer a{
    padding: 15px 10px;
    text-decoration: none;
    font-size: 1.0em;
    color: #131313;
}
.third_footer a img {
    height: 10px;
    width: 10px;
}
.third_footer a:last-child{
    margin-left: 770px;
}