
.nav{
    position: fixed;
    padding: 6px 2px;
    background-color:#101b31;
    /* position: fixed; */
    top: 0;
    width: 100%; 
    display: flex;
    transition:poistion 0s;
    z-index: 11;
}
.nav a{
    padding: 1px 20px;
    color: azure;
    font-family: "Yeon Sung";
    font-size: 24px;
    text-decoration: none;
}
.text-gradient {
    background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
    /* Mask the color to the text, and remove the rest  */
    -webkit-background-clip: text;
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent;
}
.nav img{
    width: 50px;
    height: 42px;
    cursor: pointer;
    margin-left: 5px;
}
.sign_containerr{
    -webkit-box-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 13;
    top: 0;
    right:0;
    background-color: #111;
    overflow-x: hidden;
    /* transition: 0.5s; */
    padding-top: 60px;
}
.sign_containerr .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: #40547b;
}
.sign{
    flex-direction: column;
    text-align: center;
}
.sign div{
    padding-top: 110px;
   text-align:center;
}
.sign img{
    width: 70px;
}
.sign span{
    text-align: center;
    color:#40547b;
    font-size: 1.2em;
    font-family: "Yeon Sung";
}
.dropdownContent {
    display: none;
    position: absolute;
    min-width: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    /* margin-left: 5px; */
    margin-top: 15px;
}
.dropdownContent a {
    color: f2f2f2;
    padding: 6px 14px;
    text-decoration: none;
    border-radius: 12px;
    display: block;
    /* color: #40547b; */
}
.dropforhover:hover .dropdownContent {display: block;}
.dropdownContent a:hover,.first_footer_1 a:hover,.third_footer a:hover,.second_footer_1_group ul a:hover,
.text:hover{
    color: rgb(190, 91, 91);
}
.dropforhover{
    margin-top: 5px;
}
.accimg{
    margin-left: 550px;
    /* margin-right: -90px; */
}

.account_dropdown{
    margin-left: -50px;
    margin-top: -5px;
}
.mySlides {display: none;}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    /* width: 100vw; */
}

.text {
    color: #f2f2f2;
    font-size: 45px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.numbertext {
    color:rgb(249, 5, 5);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    font-size: 2rem;
    margin-top:250px ;
    margin-left: 230px;
    font-weight: 800;
    text-align: center;
}
.searchbar input{
    color: #e73b10;
    top: 100px;
    left: 550px;
    font-size: 25px;
    padding: 8px 12px;
    position: relative;
    justify-content: center;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: 1;
    /* bottom: 12px; */
    width: 25%;
    text-align: center;
    cursor: pointer;
    border: 3.5px solid #40547b; 
    border-radius: 15px; 
}
.searchbar input::placeholder{
    background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.searchbar input:hover {
    border-color:#20355f;
    animation-name: flash_border;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: flash_border;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flash_border;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
  }
  
  @keyframes flash_border {
    0% {
      border-color: #40547b;
    }
    50% {
      border-color: #101b31;
    }
    100% {
      border-color: #20355f;
    }
  }
  
  @-webkit-keyframes flash_border {
    0% {
        border-color: #40547b;
      }
      50% {
        border-color: #101b31;
      }
      100% {
        border-color: #20355f;
      }
  }
  
  @-moz-keyframes flash_border {
    0% {
        border-color: #40547b;
      }
      50% {
        border-color: #101b31;
      }
      100% {
        border-color: #20355f;
      }
  }
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}